
.header {
    max-width: 1440px;
    max-height: 2616px;
    z-index: 1;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: space-between;
    background-color: #fff;
    padding: 16px 48px;
}

.header__buttons__ul {
    list-style-type: none;
    text-decoration: none;
    color: #4F5665;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    gap: 20px;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.header__img {
    margin-right: 100px;

}

.header_button {
    list-style-type: none;
    text-decoration: none;
    color: #4F5665;
    display: flex;
}

.header__signs-buttons {
    margin-left: 130px;
    margin-top: 17px;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
}

.signs-in {
    list-style-type: none;
    text-decoration: none;
    color: #0B132A;
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
    font-weight: bold;

}

.signs-in:hover {
    color: blue;
    transition: all .25s ease-out;

}

.signs-up:hover {
    color: blue;
    background-color: #F53838;
    transition: all .30s ease-out;

}

.signs-up {

    list-style-type: none;
    text-decoration: none;
    border: 1px solid #F53855;
    border-top-right-radius: 150px;
    border-radius: 100px;
    padding: 0.5rem 2.1rem;

    color: #F53855;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-weight: bold;
}

.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
}

.header__menu>img {
    max-width: 100%;
}

@media screen and (max-width: 1343px) {
    .header__signs-buttons {
        display: none;
    }
}


@media screen and (max-width: 768px) {

    .header{
        position: fixed;
        top: 0;
    }

    .header__menu {
        z-index: 2;
        display: inline;
        flex-direction: row;
        margin-right: 130px;
        width: 100px;

    }

    .header__img{
        margin-top: 4.5px;
        margin-right: 250px;
        width: 200px;
    }

    .header__buttons__ul {
        background: white;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 80px;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }

    .header__buttons__ul ul {
        flex-direction: column;
        height: 100%;
    }

    .header__buttons__ul.open{
        clip-path: circle(1000px at top);
    }

    .header__buttons__ul.header_button {
        flex-direction: column;
        margin-right: 0;
        padding-top: 10vh;
        flex: 1;
    }

    .header__buttons__ul a {
        flex-direction: column;
        font-weight: 500;
        display: block;
        font-size: 32px;
    }

}